<nav class="navbar navbar-dark bg-dark navbar-expand p-1">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  <form class="form-inline">
    <input class="form-control-sm mr-sm-2" type="search" placeholder="Search">
    <button class="btn btn-outline-success btn-sm  my-sm-0" type="submit">Search</button>
  </form>
</nav>