<!DOCTYPE html>
<html lang="en">

{{> head}}

<body style="overflow-x: hidden;">

  {{> navbar}}

  <div class="row">

    <div class="col-8 text-center">
      <h1 class="mt-2">Contacte a {{name}}</h1>
      <p>tel: 21212121</p>
    </div>

    <div class="col-4 text-center">
      <img src="https://amp.dev/static/inline-examples/images/mountains.webp" class=" w-75 img-thumbnail mt-2" alt="">
    </div>

  </div>


  {{> footer}}

  {{> scripts}}
</body>

</html>