<!DOCTYPE html>
<html lang="en">

{{> head}}

<body style="overflow-x: hidden;">

  {{> navbar}}

  <div class="jumbotron">
    <h1>Hello {{name}}</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque mollitia perspiciatis cumque distinctio
      corporis, error voluptatibus amet. Earum optio tempora, temporibus dicta error alias possimus aliquid quis
      expedita
      laboriosam cum.
    </p>
  </div>

  {{> footer}}

  {{> scripts}}
</body>

</html>